[user]
	email = charlie.sinks@andersencorp.com
	name = Charlie Sinks
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
[color]
	ui = true
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	df = diff
	dfs = diff --staged
	logg = log --graph --decorate --oneline --abbrev-commit --all
